h1
{
	color:DarkOliveGreen;
	font-size: 40px;
	font-family: "georgia";
	font-style:bold;
	text-align:center;
    text-shadow: black 2px 2px	
}
p
{
    color : black;
	font-size: 20px;
	font-family: "Georgia";
	font-style:italic;
	text-align:center; 
	background: rgba(255,255,255,0.3);
	margin: 50px;
	padding: 10px;
	border: black 1px solid;
}	
body
{
    background: url("image/background_biographie.jpg"); 
	background-size: 100%;
	color: black; 
}
a
{
    text-decoration: none;
    color: green;
    font-size: 20px;
}
strong
{
	color: darkred;
}